*{
}

body {
 font-family: ariel, sans-serif;

}

/** our menu **/ 
h2{
  font-weight: bold;
  font-family: ariel, sans-serif;
  text-align: center;
  padding-top: 50px;
}

.p{
  padding: 10px;
  margin: 10px;

}

 .container-fluid {
  position: absolute;
  display: flex;
  height: 1000px;
  padding: 5px;
 
}        

.container-fluid p{
  
  display: flex;
  margin:  10px;
  height: 1000px;
  padding: 5px;
  padding-left: 10px;
  background-color: #d9d9d9;
}        


/** navbar button **/ 

.navbar-toggler:hover{
 background: #808080;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'ariel', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
 text-decoration: none;
}

#navbar-nav {
  padding: 20px;
  margin-top: 10px;
  width: 100%;

}

.navbar-nav a {
  padding: 10px;
  text-align: center;
  color: #0d0d0d;


}
.navbar-nav a:hover {
  background: #808080;
  height: auto;
}
.navbar-nav a span {
  font-size: 1.8em;
}

.navbar-toggler{


} 

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.navbar-toggler{
  display: none;

} 


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.navbar-toggler{
  display: none;

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}


